CONFIG_ARM=y
CONFIG_ARCH_WOKOO=y
CONFIG_SYS_TEXT_BASE=0x01E00000
CONFIG_SPL_GPIO_SUPPORT=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_TARGET_WOKOO_CODEFAIR=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_NR_DRAM_BANKS=1
CONFIG_SPL=y
CONFIG_SPL_MTD_SUPPORT=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_SPI_SUPPORT=y
CONFIG_SPL_SPI_LOAD=y
CONFIG_SYS_SPI_U_BOOT_OFFS=0x010000
# CONFIG_CMD_BMODE is not set
CONFIG_SPL_TEXT_BASE=0x9FF80000
CONFIG_SYS_MALLOC_F_LEN=0x4000
CONFIG_BOOTDELAY=0
CONFIG_SPL_DMA_SUPPORT=y
CONFIG_SPL_WATCHDOG_SUPPORT=y
CONFIG_SYS_PROMPT="u-boot > "
CONFIG_CMD_SF=y
CONFIG_CMD_MTDPARTS=y
CONFIG_MTDIDS_DEFAULT="nor0=spi1.0"
CONFIG_MTDPARTS_DEFAULT="mtdparts=spi1.0:64k(spl),448k(u-boot),512k(dtb),2m(uImage),-(user)"
# CONFIG_CMD_NET is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_BOOTEFI is not set
# CONFIG_CMD_CACHE is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_FDT is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FS_GENERIC is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_MISC is not set
# CONFIG_CMD_GPIO is not set
# CONFIG_CMD_NVEDIT_EFI is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_XIMG is not set
CONFIG_SPI=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SF_DEFAULT_BUS=1
CONFIG_SF_DEFAULT_SPEED=8000000
CONFIG_WOKOO_SSI=y
CONFIG_DEFAULT_DEVICE_TREE="wokoo-codefair"
CONFIG_WOKOO_UART=y
CONFIG_WOKOO_DMAG=y
CONFIG_WOKOO_MINI=y
CONFIG_SYS_ARCH_TIMER=y
